[submodule "lib/Adafruit_ZeroDMA"]
	path = lib/Adafruit_ZeroDMA
	url = https://github.com/adafruit/Adafruit_ZeroDMA
[submodule "lib/Adafruit_NeoPixel_ZeroDMA"]
	path = lib/Adafruit_NeoPixel_ZeroDMA
	url = https://github.com/adafruit/Adafruit_NeoPixel_ZeroDMA
